.buttonIcons {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  color: var(--white);
  font-weight: 800;
  border-radius: 0.5rem;
  background: var(--gray-900);
  border: 0;
  padding: 0 1.5rem;

  svg {
    width: 1.250rem;
    height: 1.250rem;
    margin-right: 1rem;
    transition: filter 0.2s;
    cursor: pointer;
    fill: var(--white);

    &:hover {
      filter: brightness(0.8);
    }
  }
}

@media (max-width: 426px) {
  .buttonIcons {
    padding: 0;
  }
}