.homeContainer {
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-image: url(../../images/banner8.jpg);

  .homeContainerVertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);

    .homeContainerHorizontal {
      width: inherit;
      height: inherit;
      background: linear-gradient(to right, #111, transparent);

      .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
  

        max-width: 600px;
        margin: 2rem 5rem;
        padding: 0 2rem;
        height: 100vh;

        > span {
          font-size: 1.5rem;
          font-weight: bold;
        }

        h1 {
          font-size: 4rem;
          line-height: 4rem;
          font-weight: 900;
          margin-top: 2rem;

          span {
            color: var(--yellow-500);
          }
        }

        p {
          font-size: 1.5rem;
          line-height: 2.25rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .homeContainer {
   .homeContainerVertical {
     .homeContainerHorizontal {
      .contentContainer {
        margin: 5rem 0;
      }
     }
   }
  }
}

@media (max-width: 320px) {
  .homeContainer {
    .homeContainerVertical {
      .homeContainerHorizontal {
       .contentContainer {
          h1 {
            font-size: 3rem;
            margin-top: 0.5rem;
            > span {
              margin-top: 1rem;
              font-size: 1rem;
            }
          }

          p {
            line-height: 1.5rem;
            font-size: 1rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
   }
}

@media (max-width: 425px) and (min-width:325px) {
  .homeContainer {
    .homeContainerVertical {
      .homeContainerHorizontal {
       .contentContainer {
          h1 {
            font-size: 3rem;
            margin-top: 0.5rem;
            > span {
              margin-top: 0.25rem;
              font-size: 1rem;
            }
          }

          p {
            line-height: 1.5rem;
            font-size: 1rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
   }
}
